.container {
    //Size
    box-sizing: border-box;

    height: 100%;
    max-width: 600px;

    //Alignment
    margin: 0 auto;
    padding-top: 5%;

    display: flex;
    flex-direction: column;
}

header {
    //Size
    flex: 1;
    width: 100%;

    //Alignment
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
    font-size: 3em;
    font-weight: 800;

    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);

    // background: blue;
}

main {
    //Size
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .row {
        flex: 1;
        width: 100%;

        display: flex;
    }

    .col {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;

        border: 1px solid #63adf2;
    }

    .active {
        background: #304d6d;
    }

    .empty {
        background: #a7cced;
    }
}

footer {
    //Size
    flex: 1;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "increment decrement" "start start";
}

#increment {
    grid-area: increment;
}

#decrement {
    grid-area: decrement;
}

#start {
    grid-area: start;
}

.btn {
    background: transparent;
    border: 3px solid #053c5e;

    font-family: monospace;
    font-size: 3vw;

    &:active {
        background: #053c5e;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0;
    }

    main {
        //Size
        height: 100vw;
        width: 100vw;
    }

    header {
        font-size: 2em;
    }
}