<div class="container">
  <header>Conway's Game of Life</header>
  <main>
    <div class="row" *ngFor="let row of board; let i = index">
      <div class="col" *ngFor="let cell of row; let j = index"
      [ngClass]="{'active': cell === State.Active, 'empty': cell === State.Empty}"
      (click)="toggleCell(i, j)"></div>
    </div>
  </main>
  <footer>
    <button (click)="updateDimension(dimension + 1)" id="increment" class="btn">+</button>
    <button (click)="updateDimension(dimension - 1)" id="decrement" class="btn">-</button>
    <button (click)="toggleRunning()" id="start" class="btn">{{ isRunning ? "Stop" : "Start" }}</button>
  </footer>
</div>